<div class="banner">
  <div class="banner-text-container">
    <div class="banner-text">
      <%= image_tag "logo.png", class: "logo" %>
      <p class="logo-subtext">WOMEN OF KIGALI | EST. 2023</p>
      <p class="text-blue-gray-primary mb-4">Unser Projekt unterstützt Schneiderin in Ruanda sich einen unabhängigen und selbstständigen Lebensunterhalt zu verdienen. Durch gezielte Ausbildung und verbesserte Arbeitsbedingungen im Schneiderhandwerk bieten wir ihnen die Möglichkeit, ihre Fähigkeiten zu erweitern und finanziell auf eigenen Beinen zu stehen.</p>
      <p class="text-orange-primary mb-4">Durch den Kauf von handgefertigten Faechern wird das Clemetine Project unterstuetzt. Kontaktiere uns fuer weitere Informationen</p>
      <div class="banner-links">
        <%= link_to "JETZT SPENDEN!", "/", class: "text-decoration-none button orange-btn" %>
        <%= mail_to "kahandschumacher@aol.com", class: "text-decoration-none button-link text-blue-gray-primary" do %>
          KONTAKT <i class="fa-solid fa-arrow-right ms-3"></i>
        <% end %>
      </div>
    </div>
  </div>
  <%= image_tag "banner-image.jpg", class: "banner-image" %>
</div>


<div class="stats">
  <div class="stat">
    <i class="fa-solid fa-hand-holding-heart"></i>
    <div class="stat-info">
      <h1 class="stat-number">+300</h1>
      <p class="stat-text">Fächer verkauft</p>
    </div>
  </div>
  <div class="stat">
    <i class="fa-solid fa-user-group"></i>
    <div class="stat-info">
      <h1 class="stat-number">10</h1>
      <p class="stat-text">Schneiderin beschäftigt</p>
    </div>
  </div>
  <div class="stat">
    <i class="fa-solid fa-circle-dollar-to-slot"></i>
    <div class="stat-info">
      <h1 class="stat-number">1500€</h1>
      <p class="stat-text">gespendet</p>
    </div>
  </div>
</div>

<div class="trio-images">
  <%= image_tag "trio-image-1.jpg", class: "trio-image" %>
  <%= image_tag "trio-image-2.jpg", class: "trio-image" %>
  <%= image_tag "trio-image-3.jpg", class: "trio-image" %>
</div>

<div class="fan">
  <div class="fan-info">
    <p class="fan-text">Die handgefertigten Fächer stehen für die Kunstfertigkeit und Vielfalt der ruandischen Kultur.
      Jeder Fächer wird sorgfältig von engagierten Schneiderinnen in Kigali hergestellt, die ihre Fähigkeiten in Ausbildungsprogrammen gezielt weiterentwickeln. Durch den Kauf unserer Fächer tragen Sie dazu bei, diese Frauen zu unterstützen und ihnen eine bessere Zukunft zu ermöglichen.</p>
    <p class="fan-subtext">Interesse an unseren handgefertigten Fächern? Kontaktieren Sie uns noch heute!</p>
    <div class="fan-links">
      <%= mail_to "kahandschumacher@aol.com", class: "text-decoration-none button blue-gray-btn" do %>
        KONTAKT
      <% end %>
      
    </div>
  </div>
  <%= image_tag "fan-image.jpg", class: "fan-image" %>
</div>

<div class="wic">
  <div class="wic-info">
    <div class="wic-text">
      <h1 class="orange-title mb-4">WER IST CLEMENTINE?</h1>
      <p class="text-center">Mein Name ist Clemantine Niyonsaba, ich bin 31 Jahre alt und alleinerziehende Mutter von drei Kindern. Mein Mann verstarb vor sechs Monaten. Ich wurde im südlichen Gisagara Distrikt geboren und lebe derzeit in Kicukiro. Seit dem Verlust meines Vaters während des Genozids kümmere ich mich um meine Mutter und meine drei Kinder.</p>
      <p class="mb-0 text-center">Bis zum 12. Lebensjahr besuchte ich die Grundschule, und seit 11 Jahren arbeite ich als Schneiderin auf dem Kimironko-Markt. Dank des Clementine-Projekts und dem Verkauf von Fächern kann ich nun die Schulausbildung meiner Kinder finanzieren und habe mein eigenes Geschäft aufgebaut.</p>
    </div>
  </div>
  <%= image_tag "wic-image.jpg" %>
</div>

<div class="about-us">
  <div class="about-us-title">
    <h1 class="orange-title mb-0">ÜBER UNS</h1>
  </div>
  <div class="about-us-info">
    <%= image_tag "wic-image.jpg" %>
    <div class="about-us-text">
      <div class="text-center">
        <h6 class="mb-3">JETTE HANDSCHUMACHER</h6>
        <p class="mb-0">Projekt Managerin Clementine Project</p>
        <p class="mb-0">Kigali, Ruanda</p>
      </div>
      <div class="text-center">
        <h6 class="mb-3">KATHRIN HANDSCHUMACHER</h6>
        <p class="mb-0">Logistik und Finanzen</p>
        <p class="mb-0">Dresden, Deutschland</p>
      </div>
    </div>    
  </div>
</div>

<div class="footer">
  <%= image_tag "logo.png" %>
  <div class="contact-section">
    <div class="contact-info-sections">
      <div class="contact-info">
        <h6 class="mb-1 w-100">KONTAKT</h6>
        <p class="mb-0">Kathrin Handschumacher</p>
        <p class="mb-0">kahandschumacher@aol.com</p>
        <p class="mb-0">+49 176 60935586</p>
      </div>
      <div class="contact-info">
        <h6 class="mb-1 w-100 invisible">KONTAKT</h6>
        <p class="mb-0">Jette Handschumacher</p>
        <p class="mb-0">handschumacherjettegmail.com</p>
        <p class="mb-0">+49 1735796327</p>
      </div>
    </div>
  </div>
  <div class="copyright-section">
    <p class="copyright">Copyright © 2023 All Rights Reserved.</p>
  </div>
</div>